body{
    background-color:#2b873c;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: justify;
    margin: 0;
}

/*color pallete
#2b873c
9fe8a3
568922
#B4E380
#e2ef61
#F6FB7A
*/

/*Container - full content*/
.container{
    width: 1024px;
    background-color: #9fe8a3 /*#c8f8c4*/;
    margin: auto;
    border: 1px solid black;
}

/*Header*/
.header{
    background-image: url(img/alam2.jpg);
    background-size: cover;
    background-position: 0 -40px;
    color: rgb(71, 39, 0);
}

.header h1{
    font-weight: 800;
    text-align: center;
}

.header h1 a{
    color: black;
    text-decoration:none;
}

.header h1 a:hover{
    background-color: #E0FBE2;
}

.header, .content, .content-right {
    padding: 10px 20px 10px 20px;
}


/*content index*/

.content h3{
    text-align: center;
}
.content p{
    text-indent: 20px;
}

.content-right .img-beranda img{
    height: 200px;
    width: auto;
    padding: 10px;
}
.content-right{
    background-color: #BFF6C3;
    width: 830px;
    box-sizing: border-box;
    float: right;
}

/*Content right for child file from flora and fauna*/
.content-right img{
    float: left;
    width: 150px;
    box-sizing: border-box;
}

.content-right .p-child{
    float: right;
    width: 620px;
    box-sizing: border-box;
}



/*Side Bar*/
.side-bar{
    width: 130px;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    margin-top: 15px;
}

.side-bar a{
    color: black;
    text-decoration:none;
    padding: 5px 0px 5px 10px;
    font-size: 15px;
    margin: 0;
    display: block;
}
.side-bar a:hover{
    background-color:#E0FBE2;
}


/*Footer*/
.footer{
    background-color: #ffcc3f /*#ece92f*/;
    text-align: center;
    font-size: 13px;
    padding: 10px;
}

.footer p{
    display: inline;
    text-align: center;
    padding: 15px;
}


/*clear float*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}




